@font-face {

    font-family: Comic Sans MS;
    src: url(fonts/Comic_Sans_MS.ttf);
    
    }

body {
    margin: 0 ;
    padding: 0 ;
    background-image: url(img/fondito.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#contenido{
    background-color: rgb(255, 166, 0, 0.8);
    width: 1000px;
    height: 1900px;
    margin: auto;
}

#contenido :after{
    opacity: 70%;
}

#cabecera {
    background-image: url(img/shitpost.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    position: fixed;
}

/*slider*/
.mySlides {
    display: none;
    margin: 0 auto;
}

.fotitos,
img {
    width: 900px;
    height: 600px;
    margin-top: 1250px;
    margin-left: -300px;
    position: absolute;
}

.slideshow-container {
    width: 300px;
    margin: 0 auto;

}

.puntitos {
    margin: 0 auto;
    background-color: pink
}

.dot {
    height: 30px;
    width: 30px;
    margin: 0 10px;
    background-color: #FF0D17;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.active {
    background-color: black;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/*slider*/
h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: Comic Sans MS;
    margin-top: 40px;
}

#quees {
    height: 160px;
    width: 900px;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    font-family: Comic Sans MS;
}


#origen {
    height: 340px;
    width: 900px;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    font-family: Comic Sans MS;
}


#regla {
    height: 300px;
    width: 900px;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    font-family: Comic Sans MS;
}


img {
    width: 30px;
    margin-left: 49%;
    margin-bottom: 10px;
}

#boton{
    background-color: orange;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 150px;
    float: right;
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-family: Comic Sans MS;
  }
  
  a:active{
    text-decoration: none;
  }
  
  a:link{
    text-decoration: none;
  }
  
  a:visited{
    color:navy
  }